* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sky: #8eebff;
  --btn_icon: #ffd233;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  background: linear-gradient(180deg, rgb(13 0 49) 0%, rgb(64 5 234) 100%);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  text-transform: capitalize;
}

.container {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  width: 550px;
  height: 90vh;
  margin: auto;
  background: linear-gradient(0deg, rgb(29 0 114) 0%, rgb(58 0 226) 100%);

}

/* search bar */
.search_bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search_feild {
  width: 100%;
  max-width: 350px;
  height: 55px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 20px;
}
.search_feild::placeholder {
  font-size: 16px;
}
.search_btn {
  height: 55px;
  width: 100px;
  border-radius: 10px;
  background-color: var(--btn_icon);
  outline: none;
  border: var(--sky);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.search_btn:hover {
  background-color: #c89c00;
  transition: 0.2s;
}

i {
  color: orange;
  margin-right: 5px;
  margin-left: 8px;
}

/* weather data */
.weather_data {
  display: flex;
  justify-content: space-between;
  margin: 50px 10px;
  align-items: center;
  
}

.weather_status_icon .icon {
  max-width: 220px;
  max-height: 180px;
}

.location {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 110px;
  font-weight: 800;
  color: var(--sky);
}
.temp {
  display: flex;
  flex-direction: column;
}
.day_status {
  font-size: 25px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
}
.date_time span{
  font-size: 14px;
  font-weight: 400;
}
.date_time span i {
  font-size: 18px;
}

.air_day_vibe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Wrap items to prevent overflow */
}
.air_day_vibe i {
  color: var(--sky);
}
.wine_status{
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.humandity{
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.humandity_rate {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 2px;
  
  color: var(--sky);
  font-size: 18px;
  font-weight: 600;
}
.humandity_status{
  font-weight: 500;

}
.wind_speeds{
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 2px;
  
  color: var(--sky);
  font-size: 18px;
  font-weight: 600;
}

.wind_speeds i {
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 14px;
}
.wind_status{
  font-weight: 500;
}

.humandity_rate i{
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 14px;
}

@media only screen and (max-width: 600px) {
  .container{
    width: 95vw;
    overflow: hidden;
  }
  .weather_data h1{
    font-size: 75px;
  }
  .day_status{
    font-size: 20px;
  }
  .weather_status_icon .icon {
   width: 120px;
  }

  .date_time{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .date_time span:nth-child(1){
    margin-bottom: 10px;
    
  }
  .location {
    font-size: 12px;
  }
}

